aiohttp==3.7.0
aiohttp_socks==0.4.1
async_timeout==3.0.1
beautifulsoup4==4.10.0
ekphrasis==0.5.1
fake_useragent==0.1.11
geopy==2.2.0
googletransx==2.4.2
Kivy==2.0.0
matplotlib==3.2.
nltk==3.4
NRCLex==3.0.0
numpy==1.20.3
pandas==1.3.1
preprocessor==1.1.3
requests==2.27.1
schedule==0.6.0
scikit_learn==1.0.2
seaborn==0.9.0
setuptools==39.0.1
wordcloud==1.8.1
wordsegment==1.3.1
